<ion-view title="Explore" id="page3">
    <ion-content padding="true" style="background: url(img/SNBbQ9jtTJC8NXrWWQfk_MainList20Background.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="explore-markdown2" style="color:#000000;">
            <p>Question:</p>
        </div>
        <a ui-sref="tabsController.question1" id="explore-button4" style="font-size:20px;" class="button button-positive  button-block icon ion-fireball">Camelot Academy for Ghost</a>
        <p style="color:#D69B9B;text-align:center;">❀ You've been sent to investigate the mysterious goings-on at Camelot Academy for Ghosts where things have taken a turn for the very peculiar indeed. Who will be waiting there? ❀</p>
        <button id="explore-button5" style="font-size:20px;" class="button button-positive  button-block icon ion-waterdrop">Summer, Sea, and Swimsuit</button>
        <p style="color:#EDA2A2;text-align:center;">❀ The world of ghost is simmering in the summer heat, and the blazing sun seems to have had a most peculiar effect on the ghosts... ❀</p>
        <button id="explore-button6" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-snowy">Shrine of elves and soul</button>
        <p style="color:#D69B9B;text-align:center;">❀ The Shrine was said to be very dangerous with a lot powerful and ancient ghosts wandering in it. Ghost agents were invited to explore the shrine out in the wild nature ❀</p>
        <button id="explore-button7" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#EDA2A2;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button8" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#D69B9B;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button9" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#FAFAFA;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button10" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#FAFAFA;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button11" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#FAFAFA;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button12" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <p style="color:#FAFAFA;text-align:center;">❀ common daemons appears ❀</p>
        <button id="explore-button13" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button14" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button15" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button16" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button17" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button18" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
        <button id="explore-button19" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
    </ion-content>
</ion-view>