<ion-view title="Explore" id="page3">
    <ion-content padding="true" style="background: url(img/SNBbQ9jtTJC8NXrWWQfk_MainList20Background.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="explore-markdown2" style="color:#000000;">
            <p>Question:</p>
        </div>
        <a ui-sref="tabsController.question1" id="explore-button4" style="font-size:20px;" class="button button-positive  button-block icon ion-fireball">World Fire</a>
        <button id="explore-button5" style="font-size:20px;" class="button button-positive  button-block icon ion-waterdrop">World Water</button>
        <button id="explore-button6" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-snowy">World Snow</button>
        <button id="explore-button7" style="font-size:20px;" class="button button-positive  button-block icon ion-ios-thunderstorm">World storm</button>
    </ion-content>
</ion-view>