<ion-view title="Question2" id="page10">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="question2-list-item-container4">
            <div id="question2-markdown5" style="margin-top:0px;color:#000000;">
                <p>Question: What's in the picture?</p>
            </div>
        </div>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="question2-form5" class="list">
            <ion-checkbox name="Pitch">Apple</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
            <button id="question2-button10" class="button button-positive  button-block">Submit</button>
        </form>
    </ion-content>
</ion-view>