<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline"  href="#/page1/homePage" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab> 
        <ion-tab title="Explore" icon-on="ion-ios-paw" icon-off="ion-ios-paw-outline" href="#/page1/explorePage" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Collection" icon-on="ion-social-github" icon-off="ion-social-github-outline" href="#/page1/collectionPage" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Gacha" icon-on="ion-social-snapchat" icon-off="ion-social-snapchat-outline" href="#/page1/gachaPage" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Setting" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/page1/settingPage" id="tabsController-tab6">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>